$font-color: #FA6544;
$btn-color: #FA6544;
$bg-color: #f7f7f7;
$input-bg: #F6F6F6;
$black-btn-color: #52434F;
$font-black-color: #3E2E3B;
$revert-color: #2C84FB;
$tip-color: #646464;
$tip-lighter-color: #848484;
